@for (avatar of visibleAvatars(); track avatar.userId) {
    <span
        class="avatar"
        [class.avatar--you]="avatar.isCurrentUser"
        [class.avatar--viewer]="avatar.isViewer"
        [ngStyle]="{ '--avatar-color': avatar.color }"
        [title]="avatar.label"
        [attr.aria-label]="avatar.label"
    >
        {{ avatar.initials }}
        @if (avatar.isViewer) {
            <span
                class="avatar__viewer-badge"
                aria-hidden="true"
            >
                <app-svg-icon
                    icon="eye"
                    size="0.5rem"
                />
            </span>
        }
    </span>
}

@if (overflowCount() > 0) {
    <span
        class="avatar avatar--overflow"
        [title]="'+' + overflowCount() + ' more'"
        >+{{ overflowCount() }}</span
    >
}
